h1 {color: #00006C; font-size: 150%;}
body {background-image:url("http://www.publicdomainpictures.net/pictures/100000/velka/baseball-field-grass-turf.jpg");
       color: orange;
       font-size: 15pt; }
h3 {color: white;}
       nav
:link    {color:#FF8C00; background-color:transparent;list-style-type: none}
a:visited {color:#FF8C00; background-color:transparent;list-style-type: none}
a:hover   {color:#FF8C00; background-color:transparent; list-style-type: none}
a:active  {color:white; background-color:transparent; list-style-type: none}
