H1 {color: #FF8C00; font-size: 45pt}
body { background-image:url("http://www.publicdomainpictures.net/pictures/100000/velka/baseball-field-grass-turf.jpg");
       color: orange;
       color: Red;
       font-size: 24pt; }
    p {color: white; font-size: 150%}
   
    nav  
:link    {color:#FF8C00; background-color:transparent;list-style-type: none}
a:visited {color:#FF8C00; background-color:transparent;list-style-type: none}
a:hover   {color:#FF8C00; background-color:transparent; list-style-type: none}
a:active  {color:white; background-color:transparent; list-style-type: none}

